---
layout: default
---

  <ul class="post-list">
    {% for post in paginator.posts %}
      <li>
        <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
        <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
        <!-- %B %d, %Y -->
        <p>{{ post.description }}</p>
      
        <br/>
        <hr/>
        

      </li>
    {% endfor %}
  </ul>


<!-- Pagination links -->
{% if paginator.total_pages > 1 %}

  <div class="pagination">
    {% if paginator.previous_page %}

      <a href="/"> |first| </a>

      {% if paginator.page == 2 %} <!-- special case where previous needs to link to index.html -->
        <a href="/index.html"> |previous| </a>
      {% else %}
        <a href="/blog/page{{paginator.previous_page}}" class="previous"> |previous| </a>
      {% endif %}   
    {% endif %}
    
    <span class="page_number ">{{paginator.page}} of {{paginator.total_pages}}</span>

    {% if paginator.next_page %}
      <a href="/blog/page{{paginator.next_page}}" class="next"> |next| </a>
    {% else %}
      <!-- There are no more blog pages (do nothing)-->  
    {% endif %}

      <a href="/blog/page{{paginator.total_pages}}">  |last|</a>

  </div>
{% endif %}

